<div class="m-menu-customer">
  {% if shop.customer_accounts_enabled or shop.customer_accounts_optional %}
    <div class="m-menu-customer__wrapper">
      <div class="m-menu-customer__label">{{ 'customer.account.title' | t }}</div>
      {% if customer %}
        <a href="{{ routes.account_url }}" class="m-menu-customer__name">
          <svg
            fill="currentColor"
          
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 18 18"
          >
            <path xmlns="http://www.w3.org/2000/svg" d="M9 9C10.1935 9 11.3381 8.52589 12.182 7.68198C13.0259 6.83807 13.5 5.69347 13.5 4.5C13.5 3.30653 13.0259 2.16193 12.182 1.31802C11.3381 0.474106 10.1935 0 9 0C7.80653 0 6.66193 0.474106 5.81802 1.31802C4.97411 2.16193 4.5 3.30653 4.5 4.5C4.5 5.69347 4.97411 6.83807 5.81802 7.68198C6.66193 8.52589 7.80653 9 9 9ZM12 4.5C12 5.29565 11.6839 6.05871 11.1213 6.62132C10.5587 7.18393 9.79565 7.5 9 7.5C8.20435 7.5 7.44129 7.18393 6.87868 6.62132C6.31607 6.05871 6 5.29565 6 4.5C6 3.70435 6.31607 2.94129 6.87868 2.37868C7.44129 1.81607 8.20435 1.5 9 1.5C9.79565 1.5 10.5587 1.81607 11.1213 2.37868C11.6839 2.94129 12 3.70435 12 4.5ZM18 16.5C18 18 16.5 18 16.5 18H1.5C1.5 18 0 18 0 16.5C0 15 1.5 10.5 9 10.5C16.5 10.5 18 15 18 16.5ZM16.5 16.494C16.4985 16.125 16.269 15.015 15.252 13.998C14.274 13.02 12.4335 12 9 12C5.565 12 3.726 13.02 2.748 13.998C1.731 15.015 1.503 16.125 1.5 16.494H16.5Z" fill="#1E1E1E"/>
          </svg>
          <span>{{ customer.first_name }}</span>
        </a>
        <a href="{{ routes.account_logout_url }}" class="m-button m-button--secondary m-logout-button">{{ 'customer.account.log_out' | t }}</a>
      {% else %}
        <a
          href="{{ routes.account_login_url }}"
          class="m-button m-button--primary m-signin-button"
          data-tab="signin"
        >
          {{ 'layout.customer.log_in' | t }}
        </a>
        <a
          href="{{ routes.account_register_url }}"
          class="m-button m-button--secondary m-register-button"
          data-tab="register"
        >
          {{ 'customer.register.title' | t }}
        </a>
      {% endif %}
    </div>
  {% endif %}
  <div class="m-menu-customer__language-currency">
    {%- liquid 
      if section.settings.mb_show_currency_switcher
        render 'currency-switcher', box_size: '', pos: 'top'
      endif
      if section.settings.mb_show_country_selector
        render 'country-selector', box_size: '', pos: 'top'
      endif
      if section.settings.mb_show_language_switcher
        render 'language-switcher', box_size: '', pos: 'top'
      endif  
    -%}
  </div>
</div>
