{%- assign st = section.settings -%}
{%- assign total_active_values = 0 -%}

<script src="{{ 'storefont-filters.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'price-range.js' | asset_url }}" defer="defer"></script>
<collection-filters-form>
  <form id="CollectionFiltersForm">
    {%- if results.terms -%}
      <input type="hidden" name="q" value="{{ results.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
    {%- endif -%}
    {%- if st.show_sorting -%}
      <div class="m:hidden" data-form-sorting>
        {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
        <select name="sort_by" aria-describedby="a11y-refresh-page-message">
          {%- for option in results.sort_options -%}
            <option 
              value="{{ option.value | escape }}"
              {% if option.value == sort_by %} selected="selected"{% endif %}
              data-index="{{ forloop.index0 }}"
            >
              {{ option.name | escape }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    {%- endif -%}
    {%- for filter in results.filters -%}
      {% liquid
        assign total_active_values = total_active_values | plus: filter.active_values.size
        assign acc_open_class = 'open'
        assign acc_content_style = 'style="opacity: 1;"'

        if st.collapsed_groups contains filter.label
          assign acc_open_class = ''
          assign acc_content_style = ''
        endif

        assign filter_label = filter.label | downcase
        assign color_swatches = section.settings.color_swatches | downcase | split: ','
        assign has_color = color_swatches | where: filter_label | first
        assign is_color = false

        if color_swatches != blank and has_color != blank
          assign is_color = true
        endif
      %}

      {% case filter.type %}
        {% when 'list' %}
          <div class="m-filter--widget m-accordion--item {{ acc_open_class }}" data-index="{{ forloop.index }}">
            <div class="m-filter--widget-title h5 m-accordion--item-button ">
              <span>{{ filter.label | escape }}</span>
              <span class="m-accordion--item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5306 6.53073L8.5306 11.5307C8.46092 11.6007 8.37813 11.6561 8.28696 11.694C8.1958 11.7318 8.09806 11.7513 7.99935 11.7513C7.90064 11.7513 7.8029 11.7318 7.71173 11.694C7.62057 11.6561 7.53778 11.6007 7.4681 11.5307L2.4681 6.53073C2.3272 6.38984 2.24805 6.19874 2.24805 5.99948C2.24805 5.80023 2.3272 5.60913 2.4681 5.46823C2.60899 5.32734 2.80009 5.24818 2.99935 5.24818C3.19861 5.24818 3.3897 5.32734 3.5306 5.46823L7.99997 9.93761L12.4693 5.46761C12.6102 5.32671 12.8013 5.24756 13.0006 5.24756C13.1999 5.24756 13.391 5.32671 13.5318 5.46761C13.6727 5.60851 13.7519 5.7996 13.7519 5.99886C13.7519 6.19812 13.6727 6.38921 13.5318 6.53011L13.5306 6.53073Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
            <div class="m-filter--widget-content m-accordion--item-content" {{ acc_content_style }}>
              <ul class="m-facets {% if st.limit_height_widget %}m-filter--scroll-content m-scrollbar--vertical{% endif %}{% if is_color %} m-filter--swatches{% endif %}" role="list" style="--max-height: {{ section.settings.limit_height }}px;">
                {%- for value in filter.values -%}
                  {% unless is_color %}
                    <li class="m-facet--item">
                      <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="m-facet--checkbox{% if value.count == 0 and value.active == false %} m-facet--checkbox__disabled{% endif %}">
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {% if value.active %}checked{% endif %}
                          {% if value.count == 0 and value.active == false %}disabled{% endif %}
                        >
                          <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                            <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                          </svg>
                          <svg class="icon icon-checkmark" width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        <span class='m-facet--label'>{{ value.label | escape }}</span>
                        {%- if st.show_product_count -%}
                          <span class='m-facet--product-count'>({{ value.count }})</span>
                        {%- endif -%}
                      </label>
                    </li>
                  {% else %}
                    {% liquid
                      assign tag = value.value
                      assign tag_downcase = tag | handleize | downcase
                      
                      capture texture
                        render 'get_swatch_texture', texture_name: tag
                      endcapture

                      capture texture_style
                        if texture != ''
                          echo texture | asset_url
                        endif
                      endcapture
                      
                      assign colors = ',' | append: settings.product_colors | strip_newlines | downcase | append: ','
                      assign _tag = tag | downcase | strip
                      assign _tag = ',' | append: _tag | append: ':'
                      capture curcol
                        if colors contains _tag
                          echo colors | split: _tag | last | split: ',' | first | strip
                        endif
                      endcapture
                      assign default_color = tag_downcase | split: '-' | first
                    %}
                    <li class="m-facet--item m-facet--color m-tooltip--style-2 m-tooltip m-tooltip--top{% if value.active %} active remove-tag{% endif %}">
                      <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="{% if value.count == 0 and value.active == false %}m-facet--checkbox__disabled{% endif %}">
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          class="m:visually-hidden"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {% if value.active %}checked{% endif %}
                          {% if value.count == 0 and value.active == false %}disabled{% endif %}
                        >
                        <span class="m-facet--color-label m-bg-lazy" style="background-color: {{ curcol | default: default_color }}; background-image: url({{- texture_style -}}); background-size: cover;">
                          <span class="m:visually-hidden">{{ value.label }}</span>
                        </span>
                        <span class="m-tooltip__content">{{ value.label }}</span>
                      </label>
                    </li>
                  {% endunless %}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% when 'price_range' %}
          {%- liquid
            assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
            assign uses_comma_decimals = false
            if currencies_using_comma_decimals contains cart.currency.iso_code
              assign uses_comma_decimals = true
            endif

            if uses_comma_decimals
              assign from_value = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
              assign to_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
              assign max = filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.'
            else
              assign from_value = filter.min_value.value | money_without_currency | replace: ',', ''
              assign to_value = filter.max_value.value | money_without_currency | replace: ',', ''
              assign max = filter.range_max | money_without_currency | replace: ',', ''
            endif

            assign to_value = to_value | default: max
            assign _from = from_value | divided_by: max | times: 100 | round: 2
            assign _to = to_value | divided_by: max | times: 100 | round: 2
            if filter.min_value.value != blank or filter.max_value.value != blank
              assign total_active_values = total_active_values | plus: 1
            endif
          -%}
          <div class="m-filter--widget m-accordion--item {{ acc_open_class }}" data-index="{{ forloop.index }}">
            <div class="m-filter--widget-title h5 m-accordion--item-button">
              {{ filter.label | escape }}
              <span class="m-accordion--item-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5306 6.53073L8.5306 11.5307C8.46092 11.6007 8.37813 11.6561 8.28696 11.694C8.1958 11.7318 8.09806 11.7513 7.99935 11.7513C7.90064 11.7513 7.8029 11.7318 7.71173 11.694C7.62057 11.6561 7.53778 11.6007 7.4681 11.5307L2.4681 6.53073C2.3272 6.38984 2.24805 6.19874 2.24805 5.99948C2.24805 5.80023 2.3272 5.60913 2.4681 5.46823C2.60899 5.32734 2.80009 5.24818 2.99935 5.24818C3.19861 5.24818 3.3897 5.32734 3.5306 5.46823L7.99997 9.93761L12.4693 5.46761C12.6102 5.32671 12.8013 5.24756 13.0006 5.24756C13.1999 5.24756 13.391 5.32671 13.5318 5.46761C13.6727 5.60851 13.7519 5.7996 13.7519 5.99886C13.7519 6.19812 13.6727 6.38921 13.5318 6.53011L13.5306 6.53073Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
            <div class="m-filter--widget-content m-accordion--item-content" {{ acc_content_style }}>
              <price-range
                class="m-facets-price"
                data-price-max="{{ max }}"
                data-price-gap="{{ max | times: 0.06 | floor }}"
                style="--from: {{ _from | default: 0 }}%; --to: {{ _to | default: 100 }}%;"
              >
                <div class="m-facets-price--ranges">
                  <input
                    type="range" data-type="min-range"
                    aria-label="{{ 'sections.collection_template.from' | t }}"
                    class="m-facets-price--range m-facets-price--range-min"
                    min="0" max="{{ max }}" value="{{ from_value | default: 0 }}"
                  />
                  <input
                    type="range" data-type="max-range"
                    aria-label="{{ 'sections.collection_template.to' | t }}"
                    class="m-facets-price--range m-facets-price--range-max"
                    min="0" max="{{ max }}" value="{{ to_value }}"
                  />
                </div>
                <div class="m-facets-price--input">
                  <div class="m-facets-price--field">
                    <span class="m:visually-hidden">{{ 'sections.collection_template.from' | t }}</span>
                    <span class="m-facets-price--field-currency">{{ cart.currency.symbol }}</span>
                    <input
                      class="form-field form-field--input m:text-right" data-type="min-input"
                      name="{{ filter.min_value.param_name }}" type="number" placeholder="0"
                      {%- if filter.min_value.value -%}value="{{ from_value }}"{%- endif -%}
                    />
                  </div>
                  <span class="m-facets-price--to">{{ 'sections.collection_template.to' | t }}</span>
                  <div class="m-facets-price--field">
                    <span class="m:visually-hidden">{{ 'sections.collection_template.to' | t }}</span>
                    <span class="m-facets-price--field-currency">{{ cart.currency.symbol }}</span>
                    <input
                      class="form-field form-field--input m:text-right" data-type="max-input"
                      name="{{ filter.max_value.param_name }}" type="number" placeholder="{{ max }}"
                      {%- if filter.max_value.value -%}value="{{ to_value }}"{%- endif -%}
                    />
                  </div>
                </div>
              </price-range>
            </div>
          </div>
      {% endcase %}
    {%- endfor -%}
    {%- if results.current_vendor or results.current_type -%}
      <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {%- endif -%}
  </form>
</collection-filters-form>
