{% liquid
  assign bg_color = section.settings.bg_color

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif
%}
{{ 'tabs.css' | asset_url | stylesheet_tag }}
<m-product-details-tabs
  class="m-section m-product-details-tabs m:block"
  data-section-type="product-details-tabs"
  data-section-id="{{ section.id }}"
  style="background-color: {{ bg_color }}"
>
  <div class="{{ container }}">
    <div class="m-tabs m-tabs--responsive{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
      <div class="m-tabs__header m:hidden md:m:flex m:justify-center">
        {% for block in section.blocks %}
          <div
            class="m-tab-header"
            data-block-type="{{ block.type }}"
            data-index="{{ forloop.index0 }}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.header }}
          </div>
        {% endfor %}
      </div>
      <div class="m-tabs__content m-product-collapsible">
        {% for block in section.blocks %}
          <div
            class="m-accordion--item m-tab-content--{{ block.type }} m-tab-content{% if forloop.first and section.settings.default_open %} open{% endif %}"
            data-block-type="{{ block.type }}"
            data-index="{{ forloop.index0 }}"
            {% if forloop.first == false and section.settings.default_open == false %}
              style="--content-max-height:0px;"
            {% endif %}
          >
            <div class="m-accordion--item-button">
              {{ block.settings.header }}
              <span class="m-accordion--item-icon md:m:hidden">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5306 6.53073L8.5306 11.5307C8.46092 11.6007 8.37813 11.6561 8.28696 11.694C8.1958 11.7318 8.09806 11.7513 7.99935 11.7513C7.90064 11.7513 7.8029 11.7318 7.71173 11.694C7.62057 11.6561 7.53778 11.6007 7.4681 11.5307L2.4681 6.53073C2.3272 6.38984 2.24805 6.19874 2.24805 5.99948C2.24805 5.80023 2.3272 5.60913 2.4681 5.46823C2.60899 5.32734 2.80009 5.24818 2.99935 5.24818C3.19861 5.24818 3.3897 5.32734 3.5306 5.46823L7.99997 9.93761L12.4693 5.46761C12.6102 5.32671 12.8013 5.24756 13.0006 5.24756C13.1999 5.24756 13.391 5.32671 13.5318 5.46761C13.6727 5.60851 13.7519 5.7996 13.7519 5.99886C13.7519 6.19812 13.6727 6.38921 13.5318 6.53011L13.5306 6.53073Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
            <div class="m-accordion--item-content">
              <div class="m-tab-content__inner">
                {% case block.type %}
                  {% when 'description' %}
                    <div class="rte">
                      {%- assign description = product.description -%}
                      {{ description }}
                    </div>
                  {% when 'reviews' %}
                    <div class="{{ block.settings.container | default: 'container' }}">
                      {% render 'product-reviews-app__snippet', custom_liquid: block.settings.custom_liquid %}
                    </div>
                  {% when 'tab' %}
                    {{ block.settings.content }}
                    {{ block.settings.content_page.content }}
                  {% when 'liquid' %}
                    {{ block.settings.custom_liquid }}
                  {% else %}
                {% endcase %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</m-product-details-tabs>
{% schema %}
{
  "name": "Product information tabs",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Fixed width"
        },
        {
          "value": "container-fluid",
          "label": "Stretched width"
        },
        {
          "value": "container-narrow",
          "label": "Narrow width"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "default_open",
      "label": "Default open first tab on mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "blocks": [
    {
      "type": "description",
      "name": "Product description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "This tab will show the product's description"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Tab header",
          "default": "Product description"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Product reviews",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Requirements",
          "info": "This section requires a product reviews app to work. Such as Shopify product reviews, Growave, Judge.me, Loox"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Tab header",
          "default": "Product reviews"
        },
        {
          "type": "select",
          "id": "container",
          "label": "Container type",
          "default": "container",
          "options": [
            {
              "value": "container",
              "label": "Fixed width"
            },
            {
              "value": "container-fluid",
              "label": "Stretched width"
            },
            {
              "value": "container-narrow",
              "label": "Narrow width"
            }
          ]
        },
        {
          "type": "header",
          "content": "Other review app"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Paste the liquid code of the app review here"
        }
      ]
    },
    {
      "type": "tab",
      "name": "Custom content",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Tab heading",
          "default": "Shipping & Return",
          "placeholder": "Shipping & Return"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content",
          "default": "<p>Shipping cost is based on weight. Just add products to your cart and use the Shipping Calculator to see the shipping price.</p><p>We want you to be 100% satisfied with your purchase. Items can be returned or exchanged within 30 days of delivery.</p>"
        },
        {
          "type": "page",
          "id": "content_page",
          "label": "Tab content from page"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Tab heading",
          "default": "Tab heading"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid"
        }
      ]
    }
  ]
}
{% endschema %}
